#navBar{

    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: blue;
    margin-bottom: 10px;

}

a{
    text-decoration: none;
    color: white;
}

#masai_investors{

    display: grid;
    width: 80%;
    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    margin: auto;
    text-align: center;


}